 <!-- ======= Header ======= -->
 <header id="header" class="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <h1><a href="/"><span>V</span>Laboratory</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li><a href="/">Home</a></li>
        <li><a href="#about-us">Pendahuluan</a></li>
        <li><a href="#features">Materi</a></li>
        <li><a href="/compress">Program</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- End Header -->