.table-warapper {
    max-height: 400px;
    overflow:  auto;
    display: inline-block;
}

@media screen and (min-width:1050px){
    .table-warapper {
        max-height: 450px;
        overflow:  auto;
        display: inline-block;
    }
}

.img-magnifier-container {
    position: relative;
}

.modal-lg {
    max-width: 80% !important;
}

.img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 100px;
    height: 100px;
  }

.img-comp-container {
  position: relative;
  height: 200px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}