
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" type="text/css">
    <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

    <!-- <link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}"> -->
    

    <link rel="stylesheet" href="{{url_for('static', filename='css/sb-admin-2.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/dropzone.css')}}">

    <title>{% block title %} {{title}}{% endblock %}-VLAB Image Compression</title>
</head>
<body id="page-top">
    <div id="wrapper">
    {% block sidebar %}
        {% include 'layouts/_sidebar.html' %}
    {% endblock %}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {% block navbar %}
                    {% include 'layouts/_navbar.html' %}
                {% endblock %}
                <div class="container-fluid">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages  %}
                            {% if category == 'success' %}
                            <div role="alert" class="alert alert-success alert-dismissable fade show mt-2">
                                {{message}}
                                <button type="button" class="close" data-dismiss="alert" >
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {%endif%}
                        {% endfor %}
                    {%endif%}
                    {% endwith %}
                    {% block content %}
                        {% block app_content %}{% endblock %}
                    {% endblock %}
                </div>
            </div>
                {% block footer %}
                    {% include 'layouts/_footer.html' %}
                {% endblock %}
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Siap untuk pergi?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Pilih "Logout" jika ingin keluar dari sesi ini.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/sb-admin-2.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/dropzone.js')}}"></script>
    <script>
        function showImageBellow(imgs) {
            var expandImg = document.getElementById("expandedImg");
            expandImg.src = imgs.src;
            expandImg.parentElement.style.display = "block";
        }

        const preview = ()=>{
            const image = document.querySelector('#image')
            const label = document.querySelector('.custom-file-label')
            const imgPreview = document.querySelector('.img-preview')

            label.textContent = image.files[0].name;

            const fileImg = new FileReader();
            fileImg.readAsDataURL(image.files[0]);

            fileImg.onload=(e)=>{
                imgPreview.src = e.target.result;
            }
        }
    </script>

</body>
</html>




