{% extends 'base.html' %}

{% block app_content %}
<div class="card shadow mt-5">
    <div class="card-header">
        <h1 class="text-center">Pendahuluan</h1>
    </div>
    <div class="card-body">
        <ul>
            <li><h3>Subtitle 1</h3></li>
            <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et lacinia quam. Nullam tincidunt malesuada posuere. Nullam augue libero, pellentesque ac tempor id, accumsan in eros. Vestibulum sagittis arcu nec metus facilisis faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean rhoncus sed quam vel efficitur. Aliquam turpis erat, lacinia a augue eget, lacinia tristique erat. Fusce id libero ac urna cursus pellentesque. Maecenas ut neque id dui vestibulum porttitor. Ut tincidunt tempor tortor ac vulputate. Vestibulum efficitur ipsum et auctor luctus. Proin nec augue massa. Maecenas lectus sapien, pulvinar at arcu non, interdum porta nibh. Morbi feugiat in quam et venenatis.

                Duis in vehicula ante. Sed et nisi dolor. Ut posuere justo velit, a suscipit enim semper ac. Nam id bibendum nibh. Quisque aliquam lacinia diam, id porttitor dui molestie sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras erat dui, mattis a ligula eget, volutpat tincidunt magna. Nam lobortis ante at odio venenatis dapibus. Fusce lacinia aliquam odio. In ut justo laoreet, iaculis ante porttitor, consequat felis. Morbi a mattis elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc vel justo mauris. Morbi leo sem, sagittis ac nibh ac, placerat viverra nisl. Maecenas mollis venenatis auctor. Nullam ipsum ex, mollis sed posuere eu, pellentesque eu dui.

                Donec nec sapien in ipsum auctor rutrum. Nulla rhoncus lorem non metus porttitor, ac fermentum libero dapibus. Aliquam id ullamcorper augue. Morbi tincidunt venenatis justo, sit amet finibus mi mattis at. Suspendisse potenti. Nunc gravida massa tempus lectus mollis dictum. Nulla sit amet turpis id erat tristique mollis. Phasellus et est vel purus tristique mattis. Vivamus posuere lacus dolor, quis placerat sem finibus non.

                Sed vehicula odio nisl, eget maximus nibh congue at. Proin eu lectus nec est blandit consectetur et pharetra lectus. Donec congue luctus gravida. Etiam eu lorem eu magna ultricies tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam viverra sodales sollicitudin. Donec eu fringilla arcu.

                Duis dapibus, quam in suscipit sodales, orci velit tincidunt turpis, nec euismod sem risus id leo. Vivamus et augue eros. Nunc vitae quam et lectus commodo rhoncus. Aenean at molestie elit. In accumsan elementum dui sit amet condimentum. Ut placerat sem arcu, non blandit ante cursus ut. Etiam eget sem placerat, ultrices massa id, porttitor augue. Sed ipsum elit, vehicula quis nunc non, luctus placerat tortor. Nullam et ex orci. Duis ultrices vitae risus id efficitur. Mauris facilisis, ante ac fermentum condimentum, elit velit aliquam sem, quis volutpat justo libero vitae lectus. Proin a dapibus lacus, non sagittis erat. In vel lectus nec metus mollis commodo.
            </p>
            <li><h3>Tujuan</h3></li>
            <ul>
                <li>Mahasiswa dapat memahami algoritma huffman coding</li>
                <li>Mahasiswa dapat membuat sebuah program kompresi citra</li>
               
            </ul>

        </ul>
    </div>
</div>




{% endblock %}