{% extends "base.html" %}

{% block app_content %}
  <div class="jumbotron bg-gradient-jumbotron card shadow mt-4">
    <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8">
        <h1 class="text-white font-weight-bold">Selamat Datang!</h1>
        <h5 class="text-white">Belajar kompresi citra kini lebih mudah dan menyenangkan dengan virtual laboratorium kompresi citra citra.</h5>
        <a href="" class="btn btn-primary">Pelajari lebih lanjut</a>
      </div>
      <div class="col-lg-6 col-md-4">
        <img src="{{url_for('static', filename='img/computer.svg')}}" class="img mr-5" alt="jumbotron images">
      </div>
    </div>
    </div>
  </div>
{% endblock %}